
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/*.so
backend/.Python
backend/build/
backend/develop-eggs/
backend/dist/
backend/downloads/
backend/eggs/
backend/.eggs/
backend/lib/
backend/lib64/
backend/parts/
backend/sdist/
backend/var/
backend/wheels/
backend/*.egg-info/
backend/.installed.cfg
backend/*.egg
backend/MANIFEST


backend/.env
backend/.venv
backend/env/
backend/venv/
backend/ENV/
backend/env.bak/
backend/venv.bak/


backend/.vscode/
backend/.idea/
backend/*.swp
backend/*.swo


frontend/web-dashboard2/node_modules/
frontend/web-dashboard2/npm-debug.log*
frontend/web-dashboard2/yarn-debug.log*
frontend/web-dashboard2/yarn-error.log*
frontend/web-dashboard2/lerna-debug.log*

frontend/web-dashboard2/pids
frontend/web-dashboard2/*.pid
frontend/web-dashboard2/*.seed
frontend/web-dashboard2/*.pid.lock

frontend/web-dashboard2/coverage/
frontend/web-dashboard2/*.lcov

frontend/web-dashboard2/.nyc_output

frontend/web-dashboard2/jspm_packages/

frontend/web-dashboard2/.npm

frontend/web-dashboard2/.eslintcache

frontend/web-dashboard2/build/
frontend/web-dashboard2/dist/

frontend/web-dashboard2/.env
frontend/web-dashboard2/.env.local
frontend/web-dashboard2/.env.development.local
frontend/web-dashboard2/.env.test.local
frontend/web-dashboard2/.env.production.local

frontend/web-dashboard2/.vscode/
frontend/web-dashboard2/.idea/


*.log

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.bak
*.tmp
*.temp

.DS_Store*
.VolumeIcon.icns
.com.apple.timemachine.donotpresent